{% load custom_tags %}

<ul>
    {%for object in object_list %}

    <!-- {{object.id|upper}} -->

        {% if object.children %}

            <li>
                {{ object.name }}
                (is Complete:  <a href="{% url 'update_field' object.id %}">{{object.is_complete}}</a>) --
                <a href="{% url 'update_todo' object.id %}"> Edit </a>
                <a href="{% url 'delete_todo' object.id %}"> Delete </a>
            </li>

            {% recursive object.children %}

        {% else %}
            <li>
                {{ object.name }}
                (is Complete:  <a href="{% url 'update_field' object.id %}">{{object.is_complete}}</a>) --
                <a href="{% url 'update_todo' object.id %}"> Edit </a>
                <a href="{% url 'delete_todo' object.id %}"> Delete </a>
            </li>
        {% endif %}

    {% empty %}
        <h4>You have no lists!</h4>
    {% endfor %}
</ul>
